doctype html
// [if lt IE 7]><html lang="pt-br" class="no-js lt-ie9 lt-ie8 lt-ie7" class="no-js"> <![endif]
// [if IE 7]><html lang="pt-br" class="no-js lt-ie9 lt-ie8" class="no-js"> <![endif]
// [if IE 8]><html lang="pt-br" class="no-js lt-ie9" class="no-js"> <![endif]
// [if gt IE 8]><!
html(lang="pt-br") <!--<![endif]-->
	head
		title 

		// Meta Tags
		meta(charset='UTF-8')
		meta(name='theme-color' content='')
		meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
		meta(name='viewport' content='width=device-width, user-scalable=no')
		meta(name='description' content="")

		link(rel='stylesheet' href='./assets/stylesheets/compiled/app.css')

		// favicon
		link(rel='icon' type='image/png' href='./assets/images/pngs/icon-16x16.png')

	body

		block content
